<h1>Listing lops</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lops.each do |lop| %>
  <tr>
    <td><%= lop.name %></td>
    <td><%= lop.description %></td>
    <td><%= link_to 'Show', lop %></td>
    <td><%= link_to 'Edit', edit_lop_path(lop) %></td>
    <td><%= link_to 'Destroy', lop, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Lop', new_lop_path %>
